{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<section class="section--center mdl-grid mdl-grid--no-spacing">
    <div class="mdl-layout-spacer"></div>
    <div class="detail generic mdl-cell mdl-cell--8-col-desktop mdl-cell--6-col-tablet mdl-cell--11-col-phone mdl-shadow--2dp">
        <h4>About</h4>
        <p>Help us by adding new bands and reporting any you know are wrong</p>
        <p>Created by Matt Pye</p>
    </div>
    <div class="mdl-layout-spacer"></div>
</section>
{% endblock content %}
