{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Band Names | {{ band.name }}{% endblock title %}

{% block page_title %}Band: {{ band.name }}{% endblock page_title %}

{% block content %}
    <div class="big-band">
        <div class="well">
            <p>{{ band.reason }}</p>
            <p class="links">
                <a href="{{ band.source }}">source</a> | <a href="{{ band.source }}">report</a>
            </p>
            <div class="clear"></div>
        </div>
    </div>
{% endblock content %}
