{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="main">
    {% if request.GET.reported %}
        <p class="reported">Thank you reporting '{{ band.name }}' as wrong. We are going to look into it and get it fixed up soon.</p>
    {% endif %}

    <div class="band-detail">
        <div class="well">
            <h2>{{ band.name }}</h2>
            <img src="{{ band.image }}" alt="{{ band.name }} picture"/>
            <p class="reason" >{{ band.reason }}</p>
            <p class="links">
                <a href="{% url 'band_report' band.pk %}">Report</a> | <a href="{{ band.source }}" target="_blank">Source</a>
            </p>
        </div>
    </div>
    <a class="back-link" href="{% url 'band_list' %}">< Back to the list</a>
</div>
{% endblock content %}
