{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="band-detail">
        <div class="well">
            <h2>{{ band.name }}</h2>
            <img src="{{ band.image }}" alt="{{ band.name }} picture"/>
            <p class="reason" >{{ band.reason }}</p>
            <p class="links">
                <a href="{{ band.source }}">source</a> | <a href="{{ band.source }}">report</a>
            </p>
        </div>
    </div>
    <p><a href="{% url 'band_list' %}">< Back to the list</a></p>
{% endblock content %}
