{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">

    <form class="search" method="get">
        <input name="search" type="text" class="form-control" value={{ search_term }}>
        <input type="submit" value="Search">
    </form>

    {% if search_term %}
        <p><a href="{% url 'band_list' %}">< Back to the list</a></p>
        <h3>Search results for the search '{{ search_term }}':</h3>
    {% endif %}

    <div id="band-list">
    {% for band in bands %}
        {% url 'bandinfo' band.pk as band_url %}
        <div class="band-wrap">
            <div class="well bands">
                <h3><a href="{{ band_url }}">{{ band.name }}</a></h3>
                <p>{{ band.reason|truncatechars:150 }}</p>
                <p><a href="{{ band_url }}">view</a></p>
            </div>
        </div>
    {% empty %}
        <div class="no-results">
            <p>Sorry, no bands were found with the name '{{ search_term }}'.</p>
            <p>You not have 2 choices:</p>
            <p>1) Go back to the <a href="{% url 'band_list' %}">band list</a></p>
            <p>2) If you know how this band got it's name, please help us and add <a href="#">a new band</a>.</p>
        </div>
    {% endfor %}
    </div>
    {% if bands|length > 1 %}
        <ul class="pagination pagination-lg">
            {% if bands.has_previous %}
                <li><a href="?{% if search_term %}search={{ search_term }}&{% endif %}page={{ bands.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><a href="#">&laquo;</a></li>
            {% endif %}

            {% for num in bands.paginator.page_range %}
                {% ifequal num bands.number %}
                    <li class="active"><a href="#">{{ num }}<span class="sr-only">(current)</span></a></li>
                {% else %}
                    <li><a href="?{% if search_term %}search={{ search_term }}&{% endif %}page={{ num }}">{{ num }}</a></li>
                {% endifequal %}
            {% endfor %}

            {% if bands.has_next %}
                <li><a href="?page={{ bands.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><a href="#">&raquo;</a></li>
            {% endif %}
        <ul>
    {% endif %}
</div>
{% endblock content %}
