{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<section class="section--center mdl-grid--no-spacing">
{% for band in bands %}
  {% url 'band_info' band.name as band_url %}
  <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--6-col-tablet mdl-shadow--2dp">
    <div class="mdl-card__title" style="background: url('https://ksassets.timeincuk.net/wp/uploads/sites/55/2013/08/2013ArcticMonkeys_Press_ZackeryMichael-240613-2.jpg') center / cover;">
      <h2 class="mdl-card__title-text"><a href="{{ band_url }}">{{ band.name }}</a></h2>
    </div>
    <div class="mdl-card__supporting-text">{{ band.reason|truncatechars:200 }}</div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ band_url }}">
        Read full
      </a>
    </div>
  </div>
{% empty %}
  <div class="mdl-layout-spacer"></div>
  <div class="detail generic mdl-cell mdl-cell--8-col-desktop mdl-cell--6-col-tablet mdl-cell--11-col-phone mdl-shadow--2dp">
    <h4>No bands were found with the name '{{ search_term }}'</h4>
    <p>Go back to the <a href="{% url 'band_list' %}">band list</a></p>
    <p>Or if you know how {{ search_term }} got their name then please help us and add how using the <a href="#">add a new band</a> feature</p>
  </div>
  <div class="mdl-layout-spacer"></div>

{% endfor %}

{% include "pagination.html" %}

</section>
{% endblock content %}
