{% load staticfiles %}
<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <title>Band Names</title>
    <meta content="" name="description">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link href="{% static 'css/normalizecss' %}" rel="stylesheet">
    <link href="{% static 'css/bandnames.css' %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,100' rel='stylesheet' type='text/css'>
</head>
<body>

<main class="main">
    <div class="header">
        <h1><a href="{% url 'band_list' %}"><span>BN</span> | Band Names</a></h1>
        <nav>
            <ul>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'new_band' %}">Help Us / Add a band</a></li>
                <li><a href="{% url 'band_list' %}">The List</a></li>
            </ul>
        </nav>
    </div>
  {% block content %}
  {% endblock content %}
</main>

<footer role="contentinfo" class="footer-main">
    <small>Created by <a href="http://mattpye.com">Matt Pye</a></small><br>
    <small>Copyright &copy; <time datetime="2015">2015</time> All rights reserved.</small>
</footer>
</body>
</html>
