{% load staticfiles %}
<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <title>Band Names</title>
    <meta content="" name="description">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link href="{% static 'css/normalizecss' %}" rel="stylesheet">
    <link href="{% static 'css/bandnames.css' %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,100' rel='stylesheet' type='text/css'>
</head>
<body>

<main class="front">
    <h1>B<span>N</span></h1>
    <h2>Band<span> Names</span></h2>
    <p class="link"><a href="{% url 'band_list' %}">Browse all the bands</a></p>
    <!-- {# <p class="link"><a href="/submit">How to help</a></p> #} -->
    <form action="{% url 'band_list' %}" method="get">
        <input type="text" name="search" id="search">
        <input type="submit" value="Search">
    </form>
</main>

<footer role="contentinfo" class="footer-front">
    <small>Created by <a href="http://mattpye.com">Matt Pye</a></small><br>
    <small>Copyright &copy; <time datetime="2015">2015</time> All rights reserved.</small>
</footer>
</body>
</html>
