{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="main">
    {% if form.errors %}
        <p>You need to make sure the following fields are filled out:</p>
        <ul>{% for error in form.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <form class="pageform" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" />
    </form>

    <a href="{% url 'band_list' %}">< Back to the list</a>
</div>
{% endblock content %}
